@import url('//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic');

.page-header
{
    border-bottom: 2px solid #357ebd;
}

.panel
{
  padding-bottom: 0;
}

.panel-heading
{
  padding: 4px 15px;
  margin: -15px -15px 5px;
}

.label-primary
{
  background-color: #357ebd;
}

.label-primary[href]:hover
{
  background-color: #2a6496;
}

h3 small
{
  font-size: 18px;
  margin-top: 2px;
}

.obfuscatedField
{
  display: none;
}

.obfuscatedField .placeholder
{
  cursor: pointer;
}

/* THANK YOU!! http://davidwalsh.name/css-page-breaks */
@media all {
  .page-break { display: none; }
}

@media print {
  .page-break { display: block; page-break-before: always; }
  .obfuscatedField { display: none !important; }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
}

body
{
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 26px;
  padding: 16px;
}
